 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}


nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.link:hover{
  color: #00ffff;
}


main {
  text-align: center;
  margin: 0;
  padding: 190px;
}


button {
  padding: 15px 30px;
  margin: 10px;
  background-color: #080d2c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  transition-duration: 0.5s;
  background-color: #074732;
  animation: animate 5s linear infinite;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2px;
  width: 100%;
  bottom: 0px;
}

footer a {
  text-decoration: dotted;
  color: #f4f4f4;
}

.linkedin:hover{
  color: #57e7db;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


@media screen and (max-width: 768px) {
  
  h1 {
    font-size: 24px;
  }

  
  nav ul {
    text-align: center;
  }

  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }

  nav ul li a {
    padding: 8px;
    font-size: 14px;
  }

  
  main {
    padding: 100px 10px;
  }

  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .desafio {
    width: 45%;
    margin: 10px;
    font-size: 14px;
  }

  
  footer {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  
  .desafio {
    width: 80%;
    font-size: 12px;
  }

  
  h1 {
    font-size: 20px;
  }

  
  header {
    padding: 10px;
  }

  nav ul li a {
    font-size: 12px;
    padding: 5px;
  }
}
