*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(44, 41, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pai{
  position: relative;
  width: 300px; 
  height: 300px;

  animation: rotateDux steps(4) 8s infinite;
}

/* .pai:nth-child(1)
   {
    animation-delay: .5s;
   } */

@keyframes rotateDux{
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.pai::before{
    content: '';
    position: absolute;
    inset: -5px;
    border: 2px dashed rgb(106, 243, 106);
}
/* 
.div01{
 width: 70px;
 height: 70px;
 background-color: aliceblue;
 margin: 6px;
 border-radius: 3px;
 position: relative;
 transition: .2s;

 animation: move 5s linear infinite; 
} */

.div01{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin: 10px;
    background-color: aliceblue;
    border: 4px solid rgb(0, 25, 252);
    transform-origin: bottom right;
    animation: rotateDux steps(4) 8s infinite;
    animation: animaseuputo 9s linear infinite;
   
   }

   .div01:nth-child(1)
   {
    animation-delay: 0.55s;
   }

 .div02{
    position: absolute;
    width: 90px;
    height: 90px;
    bottom: 0;
    left: 0px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid rgb(131, 207, 131);
    background-color: aliceblue;
    transform-origin: bottom right;
    animation: rotateDux steps(4) 8s infinite;
    animation: animaseuputo 9s linear infinite;

} 

.div02:nth-child(2)
   {
    animation-delay: 0.67s;
   }

.div03{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(183, 223, 7);
    width: 90px;
    height: 90px;
    border-radius: 10px;
    top: 44%;
    left: 54%;
    transform: translate(-40%, -30%);
    
    animation: rotateDux steps(4) 8s infinite;
    animation: animaseuputo 9s linear infinite;
   }

   .div03:nth-child(3)
   {
    animation-delay: 0.79s;
   }

@keyframes animaseuputo{
    0%{
        transform: rotate(0deg);
    }

    50%,100%{
        transform: translate(90deg);
    }
}

/* .div03{
  width: 70px;
  height: 70px;
  background-color: aliceblue;
  margin: 6px;
  border-radius: 3px;
  translate: 0px;

  animation: move2 5s linear infinite;
} */


/* .div01:nth-child(1){
    animation-delay: 1.5s;
}

.div02:nth-child(2){
    animation-delay: 0;
}

.div03:nth-child(3){
    animation-delay: 1.9s;
} */

/* @keyframes move{
    0%{
      translate: -10px;
    }
    25%{
        translate: 90px;
    }
    50%{
        translate:  0 -30px;
    }
    75%{
        translate: 30px 30px;
    }
    100%{
        translate: 30px 70px;
    }
    
 } */

 /* @keyframes move1{
    0%{
      translate: 0;
    }
    25%{
        translate: 0;
    }
    50%{
        translate:  0;
    }
    75%{
        translate: -50px;
    }
   
 } */

 /* @keyframes move2{
    0%{
      translate: 0px;
    }
    25%{
        translate: -30px;
    }
    50%{
        translate:  -30 -30px;
    }
    75%{
        translate:  0 -30px;
    }
    
 } */