/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');

body{

    margin: 0;
    padding: 0;
    background-color: rgb(19, 235, 217);

}

div{
    top: 50%;
    left: 50%;
    transform: translate(20% , 20%);
    
}


header{
    padding: 1px 5px 9px;
    height: 10vh;
    background-color: #0c4d81f6;
}

.titulo{
    color: #fafdff;
    display: grid;
    justify-content: center;
     
}

nav{
    padding: 10px;
    width: 90px;

}

nav > button{
    color: #0d84e6e0;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
    font-size: 1em;
}

nav > button:hover{
    background-color: #065da5a4;
    color: #ffffff;
    width: 95px;
}


h2{
    font-family: "Silkscreen", serif ;
    font-weight: 200px;
    font-size: 50px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
 }
 
 span{
    filter: drop-shadow(3px 4px 2px #130101) ;
    left:290px;
 }

.imagem1{
    position: absolute;
    animation: trocar1 2s alternate infinite;
    
}

.imagem2{
    position: absolute;
    animation: trocar2 2s alternate-reverse infinite;
   
    
}

.imagem3{
    position: absolute;
    animation: trocar3 2s alternate infinite;
  
  
}



@keyframes trocar1{
    0%{
        opacity: 1;
    }
       
    25% {
        opacity: 0;
    }
    
    50%{
        opacity: 0;
    }

    75%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

@keyframes trocar2{
    0%{
        opacity: 0;
    }
    25% {
        opacity: 0;

    }
    50%{
        opacity: 0;
    }

    75%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes trocar3{
    0%{
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}