header {
    background-color: #53d0d4;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

  nav{
    padding: 10px;
    width: 90px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.15),

}

body{
    background-color: #333;
    min-width: 320px;
    max-width: 2000px;
}
nav > button{
    color: #661366;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
    font-size: 1em;
}

nav > button:hover{
    background-color: #065da5a4;
    color: #ffffff;
    width: 95px;
}

button a{
    text-decoration: none;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 80vh;
    background-image: linear-gradient(to bottom, #221405f3, #8d6e1ad2, #ecee85, #ccb94c, #eb8f43);
    overflow: hidden;
    position: relative;
}

.sol{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 20px #eeee89f3;
    background-color: #f7f6f0f8;
    
    
    animation: pulse 30s linear infinite;
    
}

.sol:hover{
    scale: 1.25;
    
}

@keyframes pulse{
    0%{
        transform: translateX(50vw);
      }
        50%{
         translate:  -140px -140px;
        }
    
    100%{
      
        transform: translateX(-50vw);
    }
 }