header {
    background: #02331a;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

  nav{
    padding: 10px;
    width: 90px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.15),

}
body{
    background: rgba(0, 0, 0, 0.781);
    min-width: 320px;
    max-width: 2000px;
}
nav > button{
    color: #f7f7f7;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
    font-size: 1em;
}

nav > button:hover{
    background: #065da5a4;
    color: #ffffff;
    width: 95px;
}

button a{
    text-decoration: none;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 80vh;
    background-image: linear-gradient(to bottom, #5ad2f7d3, #5dcceec9, #1ed5f5, #422300);
    overflow: hidden;
    position: relative;
}

.tronco{
    position: absolute;
    width: 90px;
    height: 500px;
    background-color: #421800;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.folha1{
    position: absolute;
    width: 280px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px 7px #021f06d3;
    background-image: linear-gradient(to bottom, #032207d3, #115204, #146304, #198104, #198104fb);
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.folha2{
    position: absolute;
    width: 450px;
    height: 320px;
    border-radius: 50%;
    box-shadow: 0px 4px 7px 7px #021b06d3;
    background-image: linear-gradient(to bottom, #022b07d3, #115204, #146304, #198104, #198104);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.folha3{
    position: absolute;
    width: 550px;
    height: 290px;
    border-radius: 50%;
    box-shadow: 0px 4px 7px 9px #021f06d3;
    background-image: linear-gradient(to bottom, #032508d3, #115204, #146304, #198104, #198104);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
