body{
    background-color: #363131;
}
 
header{
    padding: 1px 5px 9px;
    height: 10vh;
    background-color: #0c4d81f6;
}

.titulo{
    color: #fafdff;
    display: grid;
    justify-content: center;
     
}

nav{
    padding: 10px;
    width: 90px;

}

nav > button{
    color: #60c5ffe0;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
    font-size: 1em;
}

nav > button:hover{
    background-color: #065da5a4;
    color: #ffffff;
}

.recruta{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
	justify-content: center;
}

.capitao{
    background: #363131;
    color: rgb(0, 128, 49);
    border: 3px solid rgb(0, 128, 49);
    border-radius: 1px;
    width: 700px;
    height: 110px;
    letter-spacing: 8px;
    font-size: 40px;
}

.capitao:hover{
    color: #fafdff;
    border: 3px solid rgb(255, 255, 255);
    background: #363131;
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(5deg);
    }

    25%{
        transform: rotate( -6deg);
    }

    50%{
        transform: rotate(5deg);
    }

    75%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(5deg);
    }
}