body{
    margin: 0;
    padding: 0;
    background: #262626;
}

header{
    padding: 1px 5px 9px;
    height: 10vh;
    background-color: #0c4d81f6;
}

.titulo{
    color: #fafdff;
    display: grid;
    justify-content: center;
     
}

nav{
    padding: 10px;
    width: 90px;

}

nav > button{
    color: #60c5ffe0;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
    font-size: 1em;
}

nav > button:hover{
    background-color: #065da5a4;
    color: #ffffff;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
   
    animation: animate 1s linear infinite;
}

.loader span{
    position: absolute;
    width: 50px;
    height: 50px;
    animation: roda 1s linear infinite;
}

.loader span:nth-child(1){
    top: 0;
    left: 0;
    background: #e3f300;
    animation-delay: 1.5;

}

.loader span:nth-child(2){
    top: 0;
    right: 0;
    background: #0b6ef0;
}

.loader span:nth-child(3){
    bottom: 0;
    left: 0;
    background: #0b6ef0;
}

.loader span:nth-child(4){
    bottom: 0;
    right: 0;
    background: #fffb07;
}

@keyframes animate{
    0%{
        width: 100px;
        height: 100px;
    }

    10%{
        width: 100px;
        height: 100px;
    }

    50%{
        width: 150px;
        height: 150px;
    }

    90%{
        width: 100px;
        height: 100px;
    }
    
    100%{
        width: 100px;
        height: 100px;
    }
    
}

 @keyframes roda{
    0%{
      transform: rotate(0deg);
      filter: hue-rotate(0deg); 
    }

    10%{
        transform: rotate(0deg);
      
    }

    60%{
        transform: rotate(90deg);
       
    }

    90%{
        transform: rotate(90deg);
       
    }
    
    100%{
        transform: rotate(90deg);
        filter: hue-rotate(3.142rad);
    }
} 


